<div class="container">
  <div class="row">
    <div class="col-md-12 my-4">
      <div class="bg-white p-4 my-4 cust-shadow">
        <div class="d-flex border-bottom ">
          <h3 class="mainheading mb-0 mr-auto text-uppercase">
            FAQS
          </h3>
        </div>
        <table cellpadding="0px" cellspacing="0px" style="width: 100%; margin: 0px;">
          <tbody>
            <tr>
              <td align="left" class="LinkUnderline" style="width: 100%;" valign="top">
                <table cellpadding="0" cellspacing="0" style="margin-top: 0px; left: 0px;
			top: 0px;" width="100%">
                  <tbody>
                    <tr>
                      <td style="margin: 0px; vertical-align: text-top; text-align: left;">
                        <table cellpadding="0" cellspacing="0" id="tbl1" width="100%">
                          <tbody>
                            <tr>
                              <td class="question_text">&nbsp;</td>
                              <td class="question_text">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>I need special software or hardware to read eBooks?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                All you need is your PC or laptop and the access right of our portal jaypeedigital.com
                              </td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>Can I download eBooks onto my PC?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                That depends on the Subscription you have purchased.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>Can I print and copy my eBooks?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                eBooks have security settings that may prevent printing and copying of its titles.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>Once I have subscribed my eBook, will it always be available?</b>
                              </td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                That depends on the Subscription you have purchased.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>How do I get help if I have a problem?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                write to us on support@jaypeedigital.com.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>What are the benefits of reading eBooks?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                <ul style="margin-left:20px;">
                                  <li>In most cases, eBooks are cheaper than paper books.</li>
                                  <li>Instantly available worldwide</li>
                                  <li>Full Text Search available</li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>Why can't I view a document as a PDF?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">We
                                have our own pdf viewer for viewing all the books.If you have user with download
                                facility then you can download that book and view in Adobe acrobat.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>If a document is missing or corrupt, what should I do?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">If
                                you identify a missing or corrupt document write us on support@jaypeedigital.com.
                                Include as much detail as possible in the comments box, e.g. book name, ISBN, chapter
                                name .</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>How do I see what content I have full text access to?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                All subscribed content is visible on My Account page.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>How can I get free access to full text?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Jaypeedigital offers subscriptions via institutions; individual subscriptions to
                                jaypeedigital are not available. However, if you are not a subscriber, you can access a
                                free, limited version of jaypeedigital as a guest user without having to sign on.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>How long is my article/Book accessible after I purchase it?</b>
                              </td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                That depends on the Subscription you have purchased.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>How do I change my subuser account password?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Subuser Edit profile option available on the top after subuser login.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>I've forgotten my subuser account password what do I do?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                For password ,you can click on the link Forgot Password.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>How do I change my email address in subuser account?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">If
                                you are subuser,then you can change on your own from edit subuser profile page.</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                              <td style="border-bottom: solid 1px #cccccc">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="grey_text">Q:</td>
                              <td class="grey_text"><b>Which browser is best to view this website?</b></td>
                            </tr>
                            <tr>
                              <td class="grey_text" style="padding-top: 10px; vertical-align:top">Ans:</td>
                              <td class="grey_text" style="padding-top: 10px; padding-right:10px; vertical-align:top">
                                Internet Explorer: IE 9 or above<br>
                                Google Chrome: 30.XXXX and above<br>
                                Mozilla: 3 and above.<br>
                                Note: Please use updated browser to view modern websites.</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="vertical-align: top; padding-top: 10px;" width="25%">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>